body {
    background-color: BlueViolet;
	text-color:white;
}
.index-body{

background-color:hotpink;
}
h1 {
  color: lightpink;
  align:center;
}
p {
  color: black;
}
.intro{

color:white;

}
.index-intro{
color:royalblue;

}
li{
color:lightpink;
}
img{
width:30%;
height:30%;
}
